<%= turbo_frame_tag 'cards' do %>

  <div data-controller="show-address" class="grid grid-cols-1 md:grid-cols-3 gap-4">

    <% @citizens.each do |citizen| %>

      <div class="card  bg-base-100 shadow-xl">

        <figure>
          <% if citizen.picture.attached? %>
            <%= image_tag citizen.picture %>
 
          <% else %>
            <%= image_tag 'no-picture.svg' %>
          <% end %>
        </figure>

        <div class="card-body">

          <h2 class="card-title"><%= citizen.full_name %></h2>

          <p class="text-sm">
            <b>Nascido em:</b> <%= citizen.date_of_birth.strftime('%d/%m/%Y') %></br>
            <b>Idade:</b> <%= Citizen.show_age(citizen.date_of_birth, Date.today) %></br>

            <b>Email:</b> <span><%= citizen.email %></span></br>
            <b>CNS:</b> <span><%= citizen.cns %></span></br>
          </p>

          <div data-action="click->show-address#addressData" id="<%= citizen.id %>" class="card-actions justify-end">
            <label data-action="click->address#citizen_id" for="my-modal-3" class="btn btn-accent">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
              </svg>
              Detalhes
            </label>
          </div>

          <input type="checkbox" id="my-modal-3" class="modal-toggle"/>
          <div class="modal">
            <div class="modal-box relative">
              <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
              <h3 class="text-lg font-bold"> Endereço: </h3>
              <br class="py-4 font-bold "> CEP: <span data-target="show-address.zipcode"></span> </br>
              <br class="py-4 font-bold"> Logradouro: <span data-target="show-address.street"></span> </br>
              <br class="py-4 font-bold"> Complemento: <span data-target="show-address.complement"></span> </br>
              <br class="py-4 font-bold"> Bairro: <span data-target="show-address.district"></span> </br>
              <br class="py-4 font-bold"> Cidade: <span data-target="show-address.city"></span> </br>
              <br class="py-4 font-bold"> Estado: <span data-target="show-address.state"></span> </br>
              <br class="py-4 font-bold"> CÓDIGO IBGE: <span data-target="show-address.ibge_code"></span> </br>

            </div>
          </div>

        </div>
      </div>

    <% end %>


<% end %>
